<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body style="padding: 0; margin: 0; box-sizing: border-box; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f5f5f5;">
    <div style="padding: 20px; text-align: center; background-color: #166534; color: white; font-weight: 700; font-size: 18px;">
      <h1 style="margin: 0;">KIYAMI ESTATE PLOT SELECTION FORM RESPONSE</h1>
    </div>
    <div style="padding: 5%; background-color: white;">
      <div style="margin-bottom: 12px;">
        <h4 style="font-weight: 500; margin-bottom: 4px;">Name:</h4>
        <p style="margin: 0;">[[name]]</p>
      </div>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="margin-bottom: 12px;">
        <h4 style="font-weight: 500; margin-bottom: 4px;">Phone number:</h4>
        <p style="margin: 0;">[[number]]</p>
      </div>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="margin-bottom: 12px;">
        <h4 style="font-weight: 500; margin-bottom: 4px;">Email Address:</h4>
        <p style="margin: 0;">[[email]]</p>
      </div>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="margin-bottom: 12px;">
        <h4 style="font-weight: 500; margin-bottom: 4px;">Selection:</h4>
        <p style="margin: 0;">[[type]]</p>
        <p style="margin: 0;">Plot number - [[plot number]]</p>
      </div>
      <hr style="border:none;border-top:1px solid #eee" />
    </div>
    <div style="max-width: 40%; margin: auto;">
      <img src="./eco_house_03.jpg" alt="" style="width: 100%; display: block;">
    </div>
    <p style="margin: 40px 0; padding: 20px; text-align: center;">
      Powered by
      <a href="https://productkitchen.tech/" target="_blank" style="color: #166534; text-decoration: underline;">Product Kitchen</a>
    </p>
  </body>
</html>
